
  .input{
    appearance: none;
    height: 32px;
    border: 1px solid rgb(255, 118, 39, 0.5);
    border-radius: 8px;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(133, 131, 131);
    transition-property: border, color;
    transition-duration: 450ms;
    position: relative;
    width: 340px;
  }
  .input:focus {
    border: 1px solid rgb(255, 29, 29);
    outline: none;
    font-weight: bold;
    color: rgb(65, 63, 63);
    font-weight: 600;
  }
  

.p{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 3px;
    font-weight: bold;
}

.leadInput {
  width: 120; 
  padding: 10px; 
  height: 58px;
  border: 1px solid #e0e0e0; 
  border-radius: 4px; 
  font-size: 16px;
  font-family: Arial, sans-serif; 
  box-sizing: border-box; 
  transition: border-color 0.3s, box-shadow 0.3s; 
  margin-top: 15px;
  font-weight: 500;
}

.leadInput:focus {
  border-color: #2647ff; 
  box-shadow: 0 0 5px rgba(30, 90, 255, 0.5); 
  outline: none; 
}

.leadInput::placeholder {
  color: #bdbdbd;
  font-size: 14px;
}
