#root {
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem;
  } 

  .greyText {
    color: #888;
  }
 
  .Title{
    margin-right: 3px;
    margin-top: 15px;
  }
  
  .inputLine{
    margin-top: 2px;
  }
  
  .register{
    color: rgb(255, 118, 39);
  }


  .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
  }

  .forms{
    flex:2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    padding: 25px;
  }

  .imageContainer img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .Mapimg{
    width: 480px;
    height: 100%;
  }

